/* General setup */
/* Remember to always comment*/


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
  margin: 0 auto;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #71677C;
  border-bottom: 5px solid #71677C;
}

/* WRITE YOUR CODE BELOW HERE */

/* @font-face {
  font-family: 'BlackHanSans';
  src:  url('fonts/BlackHanSans-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Lora';
  src:  url('fonts/Lora-Regular.ttf') format('truetype'),
} */


p, li {
  font: 14px/20px 'Lora', serif;
  text-align: justify;

}

section div p:first-of-type {
  text-indent: 20px;
}

h1, h2 {
  font-family: 'Black Han Sans', sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 40px;
  -webkit-text-stroke: 1px /*#999292*/#71677C;
  text-shadow: 5px 5px 12px cyan;
}

header {
  background-image: url(../images/banner01.jpg);
  text-align: center;
}

body {
  background-color: #61988E;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* unvisited link */
a:link {
    color: #576CA8;
}

/* visited link */
a:visited {
    color: #274690;
}

/* mouse over link */
a:hover {
    color: #484041;
    text-decoration: none;
}

ul {
  list-style-type: square;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #61988E;
    position: fixed;
}

nav li a {
    display: block;
    color: #274690;
    padding: 12px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #6B6D76;
    color: #000;
}

nav li a:link {
    color: #274690;
}
nav li a:visited {
    color: #274690;
}

.bnw a {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-color: #61988E;
  background-image: url(../images/external01.png);
}
